.comp-number-input{
  @include flexSet;
  align-items: center;
  &.margin{
    margin-bottom: 20px;
  }
  .title{
    font-size: 1.6rem;
    margin-right: 20px;
    margin-bottom: 2px;
  }
  .number_wrap{
    width: 110px;
    height: 25px;
    position: relative;
    .button{
      width: 25px;
      height: 25px;
      @include bgSet;
      background-color: #646464;
      border-radius: 50%;
      position: absolute;
      top:0;
      background-size: 10px;
      background-position: top 8px left 8px;
      &.minus{
        left:0;
        background-image: url(https://cdn.shopify.com/s/files/1/0551/0794/4503/files/minus_button.svg?v=1662227345);
      }
      &.plus{
        right:0;
        background-image: url(https://cdn.shopify.com/s/files/1/0551/0794/4503/files/plus_button.svg?v=1662227345);
      }
    }
    input[type=text]{
      display: block;
      width: 100%;
      border: none;
      font-family: inherit;
      font-size: 1.6rem;
      color: inherit;
      font-weight: bold;
      height: 21px;
      line-height: 21px;
      text-align: center;
      pointer-events: none;
      user-select: none;
      background: transparent;
    }
  }
}

@media screen and (min-width: 720px){
  .comp-number-input{
    @include flexSet;
    align-items: center;
    &.margin{
      margin-bottom: 20px;
    }
    .title{
      font-size: 1.6rem;
      margin-right: 20px;
    }
    .number_wrap{
      width: 120px;
      height: 30px;
      .button{
        width: 30px;
        height: 30px;
        background-size: 13px;
        background-position: top 9px left 9px;
      }
      input[type=text]{
        height: 30px;
        line-height: 30px;
      }
    }
  }
}
