.comp-calendar-wrap{
  border: 1px solid #646464;
  padding: 20px 10px 10px;
  box-sizing: border-box;
  .calendar_header{
    @include flexSet;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 15px;
    .button{
      @include flexSet;
      align-items: center;
      justify-content: space-between;
      font-family: inherit;
      transition: opacity .3s;
      will-change: opacity;
      &.disable{
        opacity: 0.3;
        pointer-events: none;
        user-select: none;
      }
      .circle{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        filter: invert(1);
        @include bgSet;
        &.prev{
          background-image: url(https://cdn.shopify.com/s/files/1/0551/0794/4503/files/caret_left.svg?v=1662227345);
          margin-right: 0px;
        }
        &.next{
          background-image: url(https://cdn.shopify.com/s/files/1/0551/0794/4503/files/caret_right.svg?v=1662227348);
          margin-left: 0px;
        }
      }
      .txt{
        margin-bottom: 2px;
        font-size: 1.4rem;
      }
    }
    .month_display{
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
  .calendar_table{
    height: 338px;
    overflow: hidden;
    position: relative;
    .caledar_inner{
      position: absolute;
      top:0;
      left:0;
      right:0;
      margin: auto;
      &.disnone{
        display: none;
      }
      thead, tbody, table, tr, td{
        display: block;
      }
      thead, tr{
        width: 100%;
      }
      table{
        tr{
          @include flexSet;
          th, td{
            width: calc(100% / 7);
            text-align: center;
            padding: 7px 0;
            .weekDay{
              font-size: 1.2rem;
            }
            p.date{
              font-size: 1.2rem;
              line-height: 26px;
              text-decoration: line-through;
              color: #acacac;
            }
            button{
              .circle{
                display: block;
                width: 26px;
                height: 26px;
                background: #fff;
                border: 1px solid #646464;
                border-radius: 50%;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                line-height: 26px;
                color: #646464;
                margin: 0 auto 3px;
                transition: background .3s;
                will-change: background;
              }
              .status{
                font-size: 1.0rem;
                font-weight: bold;
                transition: color .3s;
                will-change: color;
                &::before{
                  display: inline;
                  content: "予約可";
                  color: #646464;
                }
              }
              &.soldout{
                pointer-events: none;
                user-select: none;
                opacity: 0.2;
                .status{
                  &::before{
                    display: inline;
                    content: "空席なし";
                    color: #646464;
                  }
                }
              }
              &.selected_date_button{
                .circle{
                  background-color: #646464;
                  border: 1px solid #646464;
                  color: #fff;
                }
                .status{
                  color: #646464;
                  &::before{
                    display: inline;
                    content: "選択中";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 720px){
  .comp-calendar-wrap{
    padding: 30px 15px 25px;
    margin-top: 35px;
    .calendar_header{
      @include flexSet;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px;
      margin-bottom: 25px;
      .button{
        .circle{
          width: 30px;
          height: 30px;
        }
        .txt{
          margin-bottom: 2px;
          font-size: 1.6rem;
        }
      }
      .month_display{
        font-size: 1.6rem;
      }
    }
    .calendar_table{
      height: 410px;
      .caledar_inner{
        table{
          tr{
            th, td{
              padding: 10px 0;
              .weekDay{
                font-size: 1.3rem;
              }
              p.date{
                font-size: 1.3rem;
                line-height: 30px;
              }
              button{
                .circle{
                  display: block;
                  width: 30px;
                  height: 30px;
                  font-size: 1.3rem;
                  line-height: 30px;
                  margin: 0 auto 5px;
                }
                .status{
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px){
  .comp-calendar-wrap{
    padding: 25px 10px 20px;
    background: #fff;
    margin-top: 25px;
    .calendar_header{
      padding: 0 5px;
      margin-bottom: 20px;
      .button{
        .circle{
          width: 30px;
          height: 30px;
        }
        .txt{
          margin-bottom: 2px;
          font-size: 1.6rem;
        }
      }
      .month_display{
        font-size: 1.6rem;
      }
    }
    .calendar_table{
      height: 410px;
      .caledar_inner{
        table{
          tr{
            th, td{
              padding: 10px 0;
              .weekDay{
                font-size: 1.3rem;
              }
              p.date{
                font-size: 1.3rem;
                line-height: 30px;
              }
              button{
                .circle{
                  display: block;
                  width: 30px;
                  height: 30px;
                  font-size: 1.3rem;
                  line-height: 30px;
                  margin: 0 auto 5px;
                }
                .status{
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
