.comp-faq-contents{
  .toggle_item{
    position: relative;
    background: #f4f4f4;
    height: 66px;
    transition: height .3s;
    will-change: height;
    margin-bottom: 5px;
    &:nth-last-of-type(1){
      margin-bottom: 0px;
    }
    .toggle_button{
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      font-size: 1.5rem;
      line-height: 1.6;
      font-weight: 500;
      text-align: left;
      color: inherit;
      @include flexSet;
      justify-content: space-between;
      align-items: center;
      transition: background .3s, color .3s;
      will-change: background, color;
      .txt{
        position: relative;
        display: block;
        width: calc(100% - 20px);
        padding-left: 25px;
        box-sizing: border-box;
        color: $keyColor;
        &::before{
          display: block;
          content: "Q.";
          font-size: 1.6rem;
          position: absolute;
          top:0px;
          left:0;
          right:0;
        }
      }
      .status{
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        &::before, &::after{
          display: block;
          content: "";
          position: absolute;
          background: $keyColor;
          top:0;
          bottom:0;
          left:0;
          right:0;
          margin: auto;
        }
        &::before{
          width: 1px;
          height: 100%;
        }
        &::after{
          width: 100%;
          height: 1px;
        }
      }
    }
    .toggle_contents{
      height: 0;
      overflow: hidden;
      transition: height .3s;
      will-change: height;
      .contents_inner{
        padding: 15px 15px 15px 40px;
        position: relative;
        &::before{
          display: block;
          content: "A.";
          font-size: 1.6rem;
          position: absolute;
          color: $keyColor;
          top:20px;
          left:17px;
        }
        p{
          font-size: 1.4rem;
          line-height: 1.8;
          color: $keyColor;
        }
        a{
          color: inherit;
          text-decoration: underline;
        }
      }
    }
    &.active{
      .toggle_button{
        background: $bgGreen;
        color: #fff;
        .txt{
          color: #fff;
        }
        .status{
          &::before,&::after{
            background: #fff;
          }
          &::before{
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 720px){
  .comp-faq-contents{
    max-width: 75vw;
    margin: 60px auto 0;
    .toggle_item{
      background: #f8f8f8;
      &:nth-last-of-type(1){
        margin-bottom: 0px;
      }
      .toggle_button{
        font-size: 1.5rem;
        .txt{
          br{
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-faq-contents{
    margin: 60px auto 0;
    .toggle_item{
      background: #f8f8f8;
      background: #fff;
      border-bottom: 1px dotted #363636;
      .toggle_button{
        font-size: 1.5rem;
        padding: 15px 0;
      }
      .toggle_contents{
        background: #fff;
        .contents_inner{
          padding: 0px 0px 15px 25px;
          &::before{
            top: 5px;
            left:0;
          }
        }
      }
      &.active{
        .toggle_button{
          background: #f8f8f8;
          background: #fff;
          color: $keyColor;
          font-size: 1.5rem;
          .txt{
            color: $keyColor;
          }
          .status{
            &::before,&::after{
              background: $keyColor;
            }
          }
        }
      }
    }
  }
}
