.comp-menu-list{
  @include flexSet;
  justify-content: space-between;
  .menu_item{
    width: 100%;
    margin-bottom: 40px;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    .img_wrap{
      margin-bottom: 20px;
    }
    .txt_wrap{
      .menu_name{
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .menu_desc{
        font-size: 1.4rem;
        margin-bottom: 15px;
      }
      .price{
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 720px){
  .comp-menu-list{
    @include flexSet;
    justify-content: space-between;
    margin-top: 30px;
    .menu_item{
      width: 48%;
      margin-bottom: 0px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .img_wrap{
        margin-bottom: 30px;
      }
      .txt_wrap{
        .menu_name{
          font-size: 2.0rem;
          margin-bottom: 20px;
        }
        .menu_desc{
          font-size: 1.6rem;
          line-height: 1.6;
          margin-bottom: 20px;
        }
        .price{
          font-size: 1.4rem;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px){
  .comp-menu-list{
    margin-top: 25px;
    .menu_item{
      .img_wrap{
        margin-bottom: 20px;
      }
      .txt_wrap{
        .menu_name{
          font-size: 1.8rem;
          margin-bottom: 15px;
        }
        .menu_desc{
          font-size: 1.4rem;
          margin-bottom: 15px;
        }
        .price{
          font-size: 1.4rem;
          margin-bottom: 25px;
        }
      }
    }
  }
}
