<article id="index" class="page-index">
  <section id="sectionMain" class="section-main">
    <div class="section_inner">
      <div class="main_flex_wrapper">
        <div id="mainSlider01" class="comp-main-slider slider01">
          <ul>
            <li style="opacity: 1;">
              <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/slide_image01.jpg?v=1663573205">
            </li>
            <li>
              <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/slide_image02.jpg?v=1663573205">
            </li>
            <li>
              <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/slide_image03.jpg?v=1663573204">
            </li>
          </ul>
        </div><!-- comp-main-slider -->
        <nav id="mainNavigation" class="main_nav">
          <ul>
            <li><button scrollhref="#sectionAbout">ABOUT</button></li>
            <li><button scrollhref="#sectionLocation">LOCATION</button></li>
            <!--<li><button scrollhref="#sectionMenu">MENU</button></li> -->
            <li><button scrollhref="#sectionNews">NEWS</button></li>
            <li><button scrollhref="#sectionFaq">Q&A</button></li>
            <li><a href="#aaaa">CONTACT</a></li>
            <li><a href="#aaaa">INSTAGRAM</a></li>
          </ul>
        </nav>
        <div id="mainSlider02" class="comp-main-slider slider02">
          <ul>
            <li style="opacity: 1;">
              <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/slide_image04.jpg?v=1663573207">
            </li>
            <li>
              <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/slide_image05.jpg?v=1663573205">
            </li>
            <li>
              <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/slide_image06.jpg?v=1663573208">
            </li>
          </ul>
        </div><!-- comp-main-slider -->
        <div id="scrollingText" class="comp-scrolling-text">
          <div class="simply-scroll simply-scroll-container">
            <div class="simply-scroll-list">
              <ul>
                <li>WELCOME! COME JOIN US IN NATURE.</li>
                <li>WELCOME! COME JOIN US IN NATURE.</li>
                <li>WELCOME! COME JOIN US IN NATURE.</li>
              </ul>
              <ul>
                <li>WELCOME! COME JOIN US IN NATURE.</li>
                <li>WELCOME! COME JOIN US IN NATURE.</li>
                <li>WELCOME! COME JOIN US IN NATURE.</li>
              </ul>
            </div>
          </div>
        </div><!-- comp-scrolling-text -->
      </div><!-- main_flex_wrapper -->
    </div><!-- section_inner -->
  </section>
  <section id="sectionAbout" class="section-about">
    <div class="section_inner">
      <h2 class="comp-section-title comp-section-title--about">ABOUT</h2>
      <div class="desc_wrap">
        <p>bokuyaとは、標高1400ｍの野辺山高原にある完全予約制の野外高原レストラン。<br>雄大な八ヶ岳を見上げながら、自然の中で楽しむランチタイムを提供します。</p>
        <p>bokuyaとは、草原にタープを張っただけで、自然を体感するレストラン。<br>時には野鳥や動物の鳴き声も聞こえ、時には風が吹き、雨が降ることもあります。<br>天気の都合で前日にキャンセルになることもあります。</p>
        <p>bokuyaとは、野辺山のほうれん草農家が作った自由な遊び場。<br>音楽イベントや焚火、BBQやキャンプの会場としてもよく使っています。</p>
        <p>八ヶ岳の麓、野辺山高原を誰かと共有したい。<br>そんな思いからbokuyaは始まりました。</p>
      </div>
    </div><!-- section_inner -->
  </section>
  <section id="sectionLocation" class="section-location">
    <div class="section_inner">
      <h2 class="comp-section-title comp-section-title--location">LOCATION</h2>
      <div id="locationSlider" class="comp-location-slider">
        <ul>
          <li style="opacity: 1;">
            <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/location01.jpg?v=1663573466">
          </li>
          <li><img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/location02.jpg?v=1663573463"></li>
          <li><img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/location03.jpg?v=1663573463"></li>
          <li><img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/location04.jpg?v=1663573467"></li>
          <li><img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/location05.jpg?v=1663573465"></li>
        </ul>
      </div><!-- comp-location-slider -->
      <div class="desc_wrap wrap2">
        <p>bokuyaのある野辺山高原は長野山梨に連なる八ヶ岳連峰の東側にある高原で、<br>レタスなどの葉物の産地、JRの最高地点や星の名所三選としても有名です。
        <p>都心から車で約2時間半という立地の良さで避暑地としても毎年、多くの方が別荘地やアウトドアなどを楽しみに来られます。</p>
        <p>bokuyaはそんな野辺山高原のどこかでひっそりとオープンしています。<br>場所は予約していただいた方のみにお伝えさせていただきます。<p>
      </div>
    </div><!-- section_inner -->
  </section>
  <section id="sectionNews" class="section-news">
    <div class="section_inner">
      <h2 class="comp-section-title comp-section-title--news">NEWS</h2>
      <div class="comp-news-list">
        <div class="news_item">
          <a href="#aaaa">
            <span class="date">2022.07.10</span>
            <span class="title">ニュースはテキストだけでシンプルにアップしてください。画像掲載機能はなし</span>
          </a>
        </div>
        <div class="news_item">
          <a href="#aaaa">
            <span class="date">2022.07.10</span>
            <span class="title">ニュースはテキストだけでシンプルにアップしてください。画像掲載機能はなし</span>
          </a>
        </div>
        <div class="news_item">
          <a href="#aaaa">
            <span class="date">2022.07.10</span>
            <span class="title">ニュースはテキストだけでシンプルにアップしてください。画像掲載機能はなし</span>
          </a>
        </div>
        <div class="news_item">
          <a href="#aaaa">
            <span class="date">2022.07.10</span>
            <span class="title">ニュースはテキストだけでシンプルにアップしてください。画像掲載機能はなし</span>
          </a>
        </div>
        <div class="news_item">
          <a href="#aaaa">
            <span class="date">2022.07.10</span>
            <span class="title">ニュースはテキストだけでシンプルにアップしてください。画像掲載機能はなしにしてください</span>
          </a>
        </div>
        <div class="news_item">
          <a href="#aaaa">
            <span class="date">2022.07.10</span>
            <span class="title">ニュースはテキストだけでシンプルにアップしてください。画像掲載機能はなしにしてください</span>
          </a>
        </div>
      </div><!-- comp-news-list -->
    </div><!-- section_inner -->
  </section>
  <section id="sectionFaq" class="section-faq">
    <div class="section_inner">
      <h2 class="comp-section-title comp-section-title--faq">Q&A</h2>
      <div id="faqWrap" class="comp-faq-contents">
        <div class="toggle_item">
          <button class="toggle_button">
            <span class="txt">料理や飲み物の持ち込みはOKですか？</span>
            <span class="caret"></span>
          </button>
          <div class="toggle_contents">
            <div class="contents_inner">
              <p>料理、お飲み物の持ち込みはご遠慮ください。乳幼児のお子様用については問題ありません。</p>
            </div>
          </div>
        </div>
        <div class="toggle_item">
          <button class="toggle_button">
            <span class="txt">雨など天気が悪いときはどうなりますか？</span>
            <span class="caret"></span>
          </button>
          <div class="toggle_contents">
            <div class="contents_inner">
              <p>基本的に雨、風等荒天でオープンできないとこちらで判断した場合、前日にメールとSMSにてご連絡いたします。当日の急な天候不順については、その場で判断し、ご連絡します。</p>
            </div>
          </div>
        </div>
        <div class="toggle_item">
          <button class="toggle_button">
            <span class="txt">予約なしで行ってもいいですか？</span>
            <span class="caret"></span>
          </button>
          <div class="toggle_contents">
            <div class="contents_inner">
              <p>bokuyaはフードロスの観点から食材を無駄にしないため、また地域農家さんへの配慮として予約なしでのご来店をお断りしております。</p>
            </div>
          </div>
        </div>
        <div class="toggle_item">
          <button class="toggle_button">
            <span class="txt">場所はどこですか？</span>
            <span class="caret"></span>
          </button>
          <div class="toggle_contents">
            <div class="contents_inner">
              <p>ご予約いただいたお客様にのみ、位置情報をお伝え致します。</p>
            </div>
          </div>
        </div>
        <div class="toggle_item">
          <button class="toggle_button">
            <span class="txt">レストランにトイレはありますか？</span>
            <span class="caret"></span>
          </button>
          <div class="toggle_contents">
            <div class="contents_inner">
              <p>仮設のトイレ・手洗いがございます。</p>
            </div>
          </div>
        </div>
        <div class="toggle_item">
          <button class="toggle_button">
            <span class="txt">キャンプ泊やBBQは出来ますか？</span>
            <span class="caret"></span>
          </button>
          <div class="toggle_contents">
            <div class="contents_inner">
              <p>高原レストランオープン時は個別のテント張りやBBQは出来ません。その他の時間でご希望がある場合、お問い合わせください。</p>
            </div>
          </div>
        </div>
        <div class="toggle_item">
          <button class="toggle_button">
            <span class="txt">bokuyaの貸し切りやイベントは可能ですか？</span>
            <span class="caret"></span>
          </button>
          <div class="toggle_contents">
            <div class="contents_inner">
              <p>可能です。会場レンタルやキッチンカーの出張も受け付けます。お早めにお問い合わせください。</p>
            </div>
          </div>
        </div>
      </div><!-- comp-faq-contents -->
    </div><!-- section_inner -->
  </section>
</article>
