<article id="transaction" class="page-transaction">
  <section class="section-privacy comp-underpage-section">
    <div class="section_inner small">
      <div class="underpage_ttl">
        <h1 class="ttl">特定商取引法に基づく表示</h1>
      </div>
      <div class="comp-transaction">
          <div class="transaction_item">
            <span class="title">販売業者</span>
            <div class="content">
              <p>株式会社アグレス</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">運営統括責任者</span>
            <div class="content">
              <p>山浦 昌浩</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">所在地</span>
            <div class="content">
              <p>長野県南佐久郡南牧村野辺山417-4</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">電話番号</span>
            <div class="content">
              <p>0267-98-2014</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">代金</span>
            <div class="content">
              <p>各商品ごとにご案内いたします。なお、購入時期によって同一商品でも金額が異なる場合があります。</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">代金以外の必要料金</span>
            <div class="content">
              <p>消費税のほか、決済手数料などが発生します。詳細は各商品ごとにご案内いたします。</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">代金の支払い方法</span>
            <div class="content">
              <p>クレジットカード</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">引渡し時期</span>
            <div class="content">
              <p>支払手続き完了後、商品を手配します。引渡し時期は商品によって異なります。</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">お支払い期限</span>
            <div class="content">
              <p>ご利用のクレジットカード会社ごとに異なります。</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">キャンセルポリシー</span>
            <div class="content">
              <p>(1)雨天中止の場合<br>荒天でオープンできないと判断した場合、前日21時までにキャンセルのご連絡をメールとSMSにてご連絡し、事前決済費用は全額お返し致します。</p>
              <p>(2)お客様都合のキャンセル<br>予約日の2日前までにキャンセルいただければ全額返金致します。前日、当日のキャンセルについては連絡の有無にかかわらず一切の返金は致しかねますのであらかじめご了承ください。</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">プライバシーポリシー</span>
            <div class="content">
              <p><a href="/pages/privacy">こちら</a>をご覧ください</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">公開メールアドレス</span>
            <div class="content">
              <p>contact＠bokuya.jp</p>
            </div>
          </div>
          <div class="transaction_item">
            <span class="title">WEBページアドレス</span>
            <div class="content">
              <p>https://bokuya.jp</p>
            </div>
        </div>
      </div>
    </div>
  </section>
</article>
