<article id="privacy" class="page-privacy">
  <section class="section-privacy comp-underpage-section">
    <div class="section_inner small">
      <div class="underpage_ttl">
        <h1 class="ttl">プライバシーポリシー</h1>
      </div>
      <div class="privacy_wrap">
        <div class="comp-privacy-txt">
          <div class="lead_txt">
            <p>bokuyaを運営する株式会社アグレス(https://www.agres-nobeyama.net/)（以下総称して「株式会社アグレス」または「当社」といいます。）では、お客様の個人情報の保護に取り組んでいます。本プライバシー・ポリシーでは、bokuyaのウェブサイト（bokuya.jpのすべてのドメインおよびサブドメインを含みますが、これらに限られません。以下「本サイト」といいます。）のユーザーから収集された情報のきょうの撰価による取扱いについて説明しています。本プライバシー・ポリシーでは、本サイトを通じてまたは本サイトから直接収集された場合以外でお客様から収集された情報、すなわち他のウェブサイト、電話、ファクシミリ、郵便、直接交付、その他のまたは追加的なオフラインでの手段や媒体から収集された情報に関する情報収集、使用、流布を対象としておらず、これらについて規定しておりません。</p>
          </div>
          <div class="privacy_item">
            <div class="ttl">1.個人情報の定義</div>
            <div class="content">
              <p>「個人情報」とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの、及び他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものをいいます。</p>
            </div>
          </div>
          <div class="privacy_item">
            <div class="ttl">2.個人情報の収集</div>
            <div class="content">
              <p>当ショップでは商品のご購入、お問合せをされた際にお客様の個人情報を収集することがございます。収集するにあたっては利用目的を明記の上、適法かつ公正な手段によります。</p>
              <p>当ショップで収集する個人情報は以下の通りです。</p>
              <ul>
                <li>
                  <span class="num">(1)</span>
                  <span class="content">お名前、フリガナ</span>
                </li>
                <li>
                  <span class="num">(2)</span>
                  <span class="content">ご住所</span>
                </li>
                <li>
                  <span class="num">(3)</span>
                  <span class="content">お電話番号</span>
                </li>
                <li>
                  <span class="num">(4)</span>
                  <span class="content">メールアドレス</span>
                </li>
                <li>
                  <span class="num">(5)</span>
                  <span class="content">パスワード</span>
                </li>
                <li>
                  <span class="num">(6)</span>
                  <span class="content">配送先情報</span>
                </li>
                <li>
                  <span class="num">(7)</span>
                  <span class="content">当ショップとのお取引履歴及びその内容</span>
                </li>
                <li>
                  <span class="num">(8)</span>
                  <span class="content">上記を組み合わせることで特定の個人が識別できる情報</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="privacy_item">
            <div class="ttl">3.個人情報の利用</div>
            <div class="content">
              <p>当ショップではお客様からお預かりした個人情報の利用目的は以下の通りです。</p>
              <ul>
                <li>
                  <span class="num">(1)</span>
                  <span class="content">ご注文・ご予約の確認、照会</span>
                </li>
                <li>
                  <span class="num">(2)</span>
                  <span class="content">商品発送・ご予約の確認、照会</span>
                </li>
                <li>
                  <span class="num">(3)</span>
                  <span class="content">お問合せの返信時</span>
                </li>
              </ul>
              <p>当ショップでは、下記の場合を除いてはお客様の断りなく第三者に個人情報を開示・提供することはいたしません。</p>
              <ul>
                <li>
                  <span class="num">(1)</span>
                  <span class="content">法令に基づく場合、及び国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合</span>
                </li>
                <li>
                  <span class="num">(2)</span>
                  <span class="content">人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合</span>
                </li>
                <li>
                  <span class="num">(3)</span>
                  <span class="content">当ショップを運営する会社の関連会社で個人データを交換する場合</span>
                </li>
                <li>
                  <span class="num">(4)</span>
                  <span class="content">お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="privacy_item">
            <div class="ttl">5.個人情報の訂正、削除</div>
            <div class="content">
              <p>お客様からお預かりした個人情報の訂正・削除は下記の問合せ先よりお知らせ下さい。</p>
            </div>
          </div>
          <div class="privacy_item">
            <div class="ttl">6.cookie(クッキー)の使用について</div>
            <div class="content">
              <p>当社は、お客様によりよいサービスを提供するため、cookie(クッキー)を使用することがありますが、これにより個人を特定できる情報の収集を行えるものではなく、お客様のプライバシーを侵害することはございません。</p>
              <p>※cookie(クッキー)とは、サーバーコンピュータからお客様のブラウザに送信され、お客様が使用しているコンピュータのハードディスクに蓄積される情報です。</p>
            </div>
          </div>
          <div class="privacy_item">
            <div class="ttl">7.SSLの使用について</div>
            <div class="content">
              <p>個人情報の入力時には、セキュリティ確保のため、これらの情報が傍受、妨害または改ざんされることを防ぐ目的でSSL（Secure Sockets Layer）技術を使用しております。</p>
              <p>※SSLは情報を暗号化することで、盗聴防止やデータの改ざん防止送受信する機能のことです。SSLを利用する事でより安全に情報を送信する事が可能となります。</p>
            </div>
          </div>
          <div class="privacy_item">
            <div class="ttl">8.お問合せ先</div>
            <div class="content">
              <p>当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
              <p>会社名：株式会社アグレス<br>担当者：山浦 昌浩<br>住所：長野県南佐久郡南牧村野辺山417-4<br>TEL：0267-98-2014<br>Mail:contact＠bokuya.jp</p>
            </div>
          </div>
          <div class="privacy_item">
            <div class="ttl">9.プライバシーポリシーの変更</div>
            <div class="content">
              <p>当ショップでは、収集する個人情報の変更、利用目的の変更、またはその他プライバシーポリシーの変更を行う際は、当ページへの変更をもって公表とさせていただきます。</p>
            </div>
          </div>
        </div><!-- comp-privacy-txt -->
      </div><!-- transaction_wrap -->
    </div>
  </section>
</article>
