<article id="contact" class="page-contact">
  <section class="section-privacy comp-underpage-section">
    <div class="section_inner center">
      <div class="underpage_ttl">
        <h1 class="ttl">お問い合わせ</h1>
      </div>
      <div class="lead_desc">
        <p>お問い合わせは、下記メールフォームにて承ります。<br>担当者より2〜3営業日以内にメールでご連絡させていただきます。</p>
        <p>携帯電話のメールアドレスを設定のお客様は、<br>｢メールの受信拒否、ドメイン指定受信、迷惑メール防止機能」などを設定している場合、<br>受信ができない場合があります。</p>
      </div>
      <div id="contactWrap" class="comp-contact-form">
        <div class="form_item">
          <label>お名前</label>
          <div class="form_box">
            <input type="text" name="username" placeholder="山田 太郎">
          </div>
        </div>
        <div class="form_item">
          <label>メールアドレス</label>
          <div class="form_box">
            <input type="email" name="useremail" placeholder="hello@horeboreshiga.com">
          </div>
        </div>
        <div class="form_item">
          <label>お問い合わせ種別</label>
          <div class="form_box">
            <select name="category" class="comp-select-box">
              <option value="製品・サービスについて">製品・サービスについて</option>
              <option value="提携・協業に関するお問合せ">提携・協業に関するお問合せ</option>
              <option value="採用について">採用について</option>
              <option value="その他">その他</option>
            </select>
          </div>
        </div>
        <div class="form_item b_none">
          <label>お問い合わせ内容</label>
          <div class="form_box">
            <textarea name="content" placeholder="内容を記入してください。"></textarea>
          </div>
        </div>
        <div id="ajaxLoader" class="ajax_loader">
          <span class="loading"></span>
        </div>
        <div id="statusMessage" class="status_message hidden"></div>
        <div id="submitButton" class="submit_wrap">
          <span class="text_wrap">
            <span class="ja">送信する</span>
            <input type="button" value="送信" class="disabled">
          </span>
        </div>
      </div>
    </div><!-- section_inner -->
  </section>
</article>
