.comp-select-box{
  font-family: inherit;
  color: $keyColor;
  font-size: 1.6rem;
  background-image: url(https://cdn.shopify.com/s/files/1/0550/4715/9859/t/1/assets/caret_gray.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 12px;
  cursor: pointer;
  max-width: 100%;
}
