.comp-transaction{
  .transaction_item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted $keyColor;
    &:nth-last-of-type(1){
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0px;
    }
    .title{
      display: block;
      text-align: left;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.8;
      margin-bottom: 8px;
      br{
        display: none;
      }
    }
    .content{
      font-size: 1.4rem;
      line-height: 1.8;
      a{
        color: inherit;
        @include hover;
        text-decoration: underline;
      }
      p{
        margin-bottom: 1em;
        &:nth-last-of-type(1){
          margin-bottom: 0;
        }
      }
    }
  }
}


@media screen and (min-width: 980px){
  .comp-transaction{
    margin-top: 50px;
    .transaction_item{
      @include flexSet;
      margin-bottom: 25px;
      .title{
        width: 200px;
        font-size: 1.6rem;
        font-weight: normal;
        background: transparent;
        line-height: 1.8;
        margin-bottom: 0;
        br{
          display: block;
        }
      }
      .content{
        width: calc(100% - 200px);
        font-size: 1.6rem;
        p{
          margin-bottom: 1.25em;
          &:nth-last-of-type(1){
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
