header{
  .header_inner{
    width: 94vw;
    margin: 0 auto;
    padding: 20px 0;
    .back_button{
      @include flexSet;
      align-items: center;
      color: inherit;
      transform: translate(-5px, 0);
      .caret{
        display: block;
        width: 30px;
        height: 30px;
        @include bgSet;
        background-image: url(../img/common/caret_left.svg);
        border-radius: 50%;
        margin-right: 0px;
        filter: invert(1);
      }
      .text{
        font-size: 1.4rem;
        margin-bottom: 2px;
      }
    }
  }
}

@media screen and (min-width: 1000px){
  header{
    .header_inner{
      @include wrapper;
      padding: 40px 0;
      .back_button{
        .text{
          font-size: 1.6rem;
          margin-bottom: 2px;
        }
      }
    }
  }

}
