<div id="contentsBooking" class="contents_booking">
  <div class="form_inner">
    <div class="title_wrap">
      <h2 class="booking_ttl">レストランを予約する</h2>
      <div id="bookingClose" class="close_button">
        <button></button>
      </div>
    </div>
    <section class="section-form">
      <div class="comp-form-wrap">
        <div class="form_item item01">
          <label class="form_ttl"><span>来店人数</span></label>
          <div class="form_wrap">
            <div class="comp-number-input margin">
              <span class="title">大人</span>
              <div class="number_wrap">
                <button type="button" class="button minus"></button>
                <input id="adlutNum" type="text" name="[大人の人数:]" value="0">
                <button type="button" class="button plus"></button>
              </div>
            </div><!-- comp-number-input -->
            <div class="comp-number-input">
              <span class="title">子供</span>
              <div class="number_wrap">
                <button type="button" class="button minus"></button>
                <input id="childNum" type="text" name="[子供の人数:]" value="0">
                <button type="button" class="button plus"></button>
              </div>
            </div><!-- comp-number-input -->
          </div>
        </div><!-- form_item -->
        <div class="form_item item02">
          <label class="form_ttl"><span>レストランメニュー</span><span class="small">(代金事前決済)</span></label>
          <p class="label_desc">来店人数分のお食事を選択してください。</p>
          <div class="form_wrap">
            <div class="comp-menu-list">
                <div class="menu_item">
                  <div class="img_wrap">
                    <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/menu_curry.jpg?v=1662226832">
                  </div>
                  <div class="txt_wrap">
                    <h3 class="menu_name">カレーセット</h3>
                    <p class="menu_desc">カレー・サラダ・デザートとドリンクのセット</p>
                    <p class="price">2,500円(税込)</p>
                    <div class="comp-number-input">
                      <div class="number_wrap">
                        <button type="button" class="button minus"></button>
                        <input id="curryNum" type="text" name="[カレーセット:]" value="0">
                        <button type="button" class="button plus"></button>
                      </div>
                    </div><!-- comp-number-input -->
                  </div>
                </div>
                <div class="menu_item">
                  <div class="img_wrap">
                    <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/menu_stew.jpg?v=1662226832">
                  </div>
                  <div class="txt_wrap">
                    <h3 class="menu_name">シチューセット</h3>
                    <p class="menu_desc">シチュー・サラダ・デザートとドリンクのセット</p>
                    <p class="price">2,500円(税込)</p>
                    <div class="comp-number-input">
                      <div class="number_wrap">
                        <button type="button" class="button minus"></button>
                        <input id="stewNum" type="text" name="[シチューセット:]" value="0">
                        <button type="button" class="button plus"></button>
                      </div>
                    </div><!-- comp-number-input -->
                  </div>
                </div>
              </div><!-- comp-menu-list -->
            <div class="note_desc">
              <p>※セットドリンクは来場当日にコーヒー(ホット/アイス)・オーガニックルイボスティー(ホット/アイス)・ペリエ(炭酸水)・リンゴジュースよりお選び頂けます。</p>
            </div>
          </div><!-- form_wrap -->
        </div><!-- form_item -->
        <div class="form_item item03">
          <label class="form_ttl"><span>予約の空き状況</span></label>
          <p class="label_desc">来店希望日を選択してください。</p>
          <div class="form_wrap">
            <div class="comp-calendar-wrap">
              <div class="calendar_header">
                <button id="prevButton" class="button disable" type="button">
                  <span class="circle prev"></span>
                  <span class="txt">前月</span>
                </button>
                <p id="monthDisplay" class="month_display">2022年9月</p>
                <button id="nextButton" class="button" type="button">
                  <span class="txt">翌月</span>
                  <span class="circle next"></span>
                </button>
              </div><!-- calendar_header -->
              <div id="calendarTable" class="calendar_table">
                <div id="table202209" class="caledar_inner">
                  <table>
                    <thead>
                      <tr>
                        <th><p class="weekDay">月</p></th>
                        <th><p class="weekDay">火</p></th>
                        <th><p class="weekDay">水</p></th>
                        <th><p class="weekDay">木</p></th>
                        <th><p class="weekDay">金</p></th>
                        <th><p class="weekDay" style="color: rgb(0, 50, 159);">土</p></th>
                        <th><p class="weekDay" style="color: rgb(181, 60, 60);">日</p></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td date="20220829"><p class="date strike">29</p></td>
                        <td date="20220830"><p class="date strike">30</p></td>
                        <td date="20220831"><p class="date strike">31</p></td>
                        <td date="20220901"><p class="date strike">1</p></td>
                        <td date="20220902"><p class="date strike">2</p></td>
                        <td date="20220903">
                          <button type="button" class="date" dateY="2022" dateM="09" dateD="03">
                            <span class="circle">3</span>
                            <span class="status"></span>
                          </button>
                        </td>
                        <td date="20220904">
                          <button type="button" class="date" dateY="2022" dateM="09" dateD="04">
                            <span class="circle">4</span>
                            <span class="status"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td date="20220905"><p class="date strike">5</p></td>
                        <td date="20220906"><p class="date strike">6</p></td>
                        <td date="20220907"><p class="date strike">7</p></td>
                        <td date="20220908"><p class="date strike">8</p></td>
                        <td date="20220909"><p class="date strike">9</p></td>
                        <td date="20220910">
                          <button type="button" class="date" dateY="2022" dateM="09" dateD="10"><span class="circle">10</span><span class="status"></span></button>
                        </td>
                        <td date="20220911">
                          <button type="button" class="date" dateY="2022" dateM="09" dateD="11"><span class="circle">11</span><span class="status"></span></button>
                        </td>
                      </tr>
                      <tr>
                        <td date="20220912"><p class="date strike">12</p></td>
                        <td date="20220913"><p class="date strike">13</p></td>
                        <td date="20220914"><p class="date strike">14</p></td>
                        <td date="20220915"><p class="date strike">15</p></td>
                        <td date="20220916"><p class="date strike">16</p></td>
                        <td date="20220917">
                          <button type="button" class="date" dateY="2022" dateM="09" dateD="17">
                            <span class="circle">17</span>
                            <span class="status"></span>
                          </button>
                        </td>
                        <td date="20220918">
                          <button type="button" class="soldout" dateY="2022" dateM="09" dateD="18">
                            <span class="circle">18</span>
                            <span class="status"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td date="20220919"><p class="date strike">19</p></td>
                        <td date="20220920">
                          <button type="button" class="soldout" dateY="2022" dateM="09" dateD="20"><span class="circle">20</span><span class="status"></span></button>
                        </td>
                        <td date="20220921"><p class="date strike">21</p></td>
                        <td date="20220922"><p class="date strike">22</p></td>
                        <td date="20220923"><p class="date strike">23</p></td>
                        <td date="20220924">
                          <button type="button" dateY="2022" dateM="09" dateD="24"><span class="circle">24</span><span class="status"></span></button>
                        </td>
                        <td date="20220925">
                          <button type="button" dateY="2022" dateM="09" dateD="25"><span class="circle">25</span><span class="status"></span></button>
                        </td>
                      </tr>
                      <tr>
                        <td date="20220926"><p class="date strike">26</p></td>
                        <td date="20220927"><p class="date strike">27</p></td>
                        <td date="20220928"><p class="date strike">28</p></td>
                        <td date="20220929"><p class="date strike">29</p></td>
                        <td date="20220930"><p class="date strike">30</p></td>
                        <td date="20221001">
                          <button type="button" dateY="2022" dateM="10" dateD="01"><span class="circle">1</span><span class="status"></span></button>
                        </td>
                        <td date="20221002">
                          <button type="button" dateY="2022" dateM="10" dateD="02"><span class="circle">2</span><span class="status"></span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- caledar_inner -->
                <div id="table202210" class="caledar_inner disnone">
                  <table>
                    <thead>
                      <tr>
                        <th><p class="weekDay">月</p></th>
                        <th><p class="weekDay">火</p></th>
                        <th><p class="weekDay">水</p></th>
                        <th><p class="weekDay">木</p></th>
                        <th><p class="weekDay">金</p></th>
                        <th><p class="weekDay" style="color: rgb(0, 50, 159);">土</p></th>
                        <th><p class="weekDay" style="color: rgb(181, 60, 60);">日</p></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td date="20220926"><p class="date strike">26</p></td>
                        <td date="20220927"><p class="date strike">27</p></td>
                        <td date="20220928"><p class="date strike">28</p></td>
                        <td date="20220929"><p class="date strike">29</p></td>
                        <td date="20220930"><p class="date strike">30</p></td>
                        <td date="20221001">
                          <button type="button" date="20221002" dateY="2022" dateM="10" dateD="01"><span class="circle">1</span><span class="status"></span></button>
                        </td>
                        <td date="20221002">
                          <button type="button" date="20221002" dateY="2022" dateM="10" dateD="02"><span class="circle">2</span><span class="status"></span></button>
                        </td>
                      </tr>
                      <tr>
                        <td date="20221003"><p class="date strike">3</p></td>
                        <td date="20221004"><p class="date strike">4</p></td>
                        <td date="20221005"><p class="date strike">5</p></td>
                        <td date="20221006"><p class="date strike">6</p></td>
                        <td date="20221007"><p class="date strike">7</p></td>
                        <td date="20221008">
                          <button type="button" date="20221002" dateY="2022" dateM="10" dateD="08">
                            <span class="circle">8</span>
                            <span class="status"></span>
                          </button>
                        </td>
                        <td date="20221009">
                          <button type="button" date="20221002" dateY="2022" dateM="10" dateD="09">
                            <span class="circle">9</span>
                            <span class="status"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td date="20221010"><p class="date strike">10</p></td>
                        <td date="20221011"><p class="date strike">11</p></td>
                        <td date="20221012"><p class="date strike">12</p></td>
                        <td date="20221013"><p class="date strike">13</p></td>
                        <td date="20221014"><p class="date strike">14</p></td>
                        <td date="20221015">
                          <button type="button" dateY="2022" dateM="10" dateD="15">
                            <span class="circle">15</span>
                            <span class="status"></span>
                          </button>
                        </td>
                        <td date="20221016">
                          <button type="button" dateY="2022" dateM="10" dateD="16">
                            <span class="circle">16</span>
                            <span class="status"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td date="20221017"><p class="date strike">17</p></td>
                        <td date="20221018"><p class="date strike">18</p></td>
                        <td date="20221019"><p class="date strike">19</p></td>
                        <td date="20221020"><p class="date strike">20</p></td>
                        <td date="20221021"><p class="date strike">21</p></td>
                        <td date="20221022">
                          <button type="button" dateY="2022" dateM="10" dateD="22">
                            <span class="circle">22</span>
                            <span class="status"></span>
                          </button>
                        </td>
                        <td date="20221023">
                          <button type="button" dateY="2022" dateM="10" dateD="23">
                            <span class="circle">23</span>
                            <span class="sztatus">予約可</span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td date="20221024"><p class="date strike">24</p></td>
                        <td date="20221025"><p class="date strike">25</p></td>
                        <td date="20221026"><p class="date strike">26</p></td>
                        <td date="20221027"><p class="date strike">27</p></td>
                        <td date="20221028"><p class="date strike">28</p></td>
                        <td date="20221029">
                          <button type="button" dateY="2022" dateM="10" dateD="29">
                            <span class="circle">29</span>
                            <span class="status"></span>
                          </button>
                        </td>
                        <td date="20221030">
                          <button type="button" dateY="2022" dateM="10" dateD="30">
                            <span class="circle">30</span>
                            <span class="status"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- caledar_inner -->
              </div><!-- calendar_table -->
            </div><!-- comp-calendar-wrap -->
            <div class="selected_date">
              <span class="title">予約日程</span>
              <p id="dateDisplay" class="date">未選択</p>
            </div>
            <div class="submit_wrap">
              <div class="amount_wrap">
                <span class="title">小計</span>
                <p id="amountPrice" class="price">0円(税込)</p>
              </div>
              <div class="submit_button">
                <button id="submitButton" type="button" class="submit_button">お支払いに進む</button>
              </div>
            </div>
          </div><!-- form_wrap -->
        </div><!-- form_item -->
      </div>
      <div class="hidden_form" style="display: none;">
      <input id="quantityInput" type="text" class="product_init_num" name="quantity" min="1" value="1">
      <select name="id" id="ProductSelect-product-template" style="display: none; opacity:0; height:0; overflow: hidden;">
      {% for variant in product.variants %}
        {%- assign index = index | plus: 1 -%}
        <option id="date{{ variant.sku }}" value="{{ variant.id }}" sku="" cPrice="{{ variant.compare_at_price | money }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}> {{ variant.title }}</option>
        {% endfor %}
      </select>
      </div>
    </section>
  </div>
</div>
