<div id="contentsBooking" class="contents_booking">
  <div class="form_inner">
    <div class="title_wrap">
      <h2 class="booking_ttl">レストランを予約する</h2>
      <div id="bookingClose" class="close_button">
        <button></button>
      </div>
    </div>
    <section class="section-form">
      <div class="comp-form-wrap">
        <div id="formItem01" class="form_item item01">
          <label class="form_ttl"><span>来店人数</span></label>
          <div class="form_wrap">
            <div class="comp-number-input margin">
              <span class="title">大人</span>
              <div class="number_wrap">
                <button type="button" class="button minus"></button>
                <input id="adlutNum" type="text" name="[大人の人数:]" value="1" min="1" max="40">
                <button type="button" class="button plus"></button>
              </div>
            </div><!-- comp-number-input -->
            <div class="comp-number-input">
              <span class="title">子供</span>
              <div class="number_wrap">
                <button type="button" class="button minus"></button>
                <input id="childNum" type="text" name="[子供の人数:]" value="0" min="0" max="40">
                <button type="button" class="button plus"></button>
              </div>
            </div><!-- comp-number-input -->
          </div>
        </div><!-- form_item -->
        <div id="formItem02" class="form_item item02">
          <label class="form_ttl"><span>レストランメニュー</span><span class="small">(代金事前決済)</span></label>
          <p class="label_desc">大人お一人につき、お一つ以上ご注文下さい。</p>
          <div class="form_wrap">
            <div class="comp-menu-list-temp">
                <div class="menu_item">
                  <div class="img_wrap">
                    <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/menu___curry.jpg?v=1663068058">
                  </div>
                  <div class="txt_wrap">
                    <h3 class="menu_name">カレーセット</h3>
                    <p class="menu_desc">カレー・サラダ・デザートとドリンクのセット</p>
                    <p class="price">2,500円(税込)</p>
                    <div class="comp-number-input">
                      <div class="number_wrap">
                        <button type="button" class="button minus"></button>
                        <input id="curryNum" type="text" name="[カレーセット:]" value="1" min="1" max="40">
                        <button type="button" class="button plus"></button>
                      </div>
                    </div><!-- comp-number-input -->
                  </div>
                </div>
                <div class="menu_item" style="display: none;">
                  <div class="img_wrap">
                    <img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/menu___stew.jpg?v=1663068058">
                  </div>
                  <div class="txt_wrap">
                    <h3 class="menu_name">シチューセット</h3>
                    <p class="menu_desc">シチュー・サラダ・デザートとドリンクのセット</p>
                    <p class="price">2,500円(税込)</p>
                    <div class="comp-number-input">
                      <div class="number_wrap">
                        <button type="button" class="button minus"></button>
                        <input id="stewNum" type="text" name="[シチューセット:]" value="0" min="0" max="40">
                        <button type="button" class="button plus"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- comp-menu-list -->
            <div class="note_desc">
              <p>※セットドリンクは来場当日にコーヒー(ホット/アイス)・オーガニックルイボスティー(ホット/アイス)・ペリエ(炭酸水)・リンゴジュースよりお選び頂けます。</p>
            </div>
          </div><!-- form_wrap -->
        </div><!-- form_item -->
        <div id="formItem03" class="form_item item03">
          <label class="form_ttl"><span>予約の空き状況</span></label>
          <p class="label_desc">来店希望日を選択してください。</p>
          <div class="form_wrap">
            <div class="comp-calendar-wrap">
              <div class="calendar_header">
                <button id="prevButton" class="button disable" type="button">
                  <span class="circle prev"></span>
                  <span class="txt">前月</span>
                </button>
                <p id="monthDisplay" class="month_display">2022年10月</p>
                <button id="nextButton" class="button disable" type="button">
                  <span class="txt">翌月</span>
                  <span class="circle next"></span>
                </button>
              </div><!-- calendar_header -->
              <div id="calendarTable" class="calendar_table">
                {% include 'booking-calendar' %}
              </div><!-- calendar_table -->
            </div><!-- comp-calendar-wrap -->
            <div class="selected_date">
              <span class="title">予約日程</span>
              <p id="dateDisplay" class="date">未選択</p>
            </div>
          </div><!-- form_wrap -->
        </div><!-- form_item -->
        <div class="submit_wrap">
          <div class="amount_wrap">
            <span class="title">小計</span>
            <p id="amountPrice" class="price">0円(税込)</p>
          </div>
          <div class="submit_button">
            <button id="submitButton" type="button" class="submit_button">お支払いに進む</button>
          </div>
        </div><!-- submit_wrap -->
      </div>
      <div class="hidden_form" style="display: none;">
      <input id="quantityInput" type="text" class="product_init_num" name="quantity" min="1" value="1">
      <select name="id" id="ProductSelect-product-template" style="display: none; opacity:0; height:0; overflow: hidden;">
      {% for variant in product.variants %}
        {%- assign index = index | plus: 1 -%}
        <option id="date{{ variant.sku }}" value="{{ variant.id }}" sku="" cPrice="{{ variant.compare_at_price | money }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}> {{ variant.title }}</option>
        {% endfor %}
      </select>
      </div>
    </section>
  </div>
</div>
